$body-green-background: #e1ffe1;
$body-green-background-shadow: #879c87;
$card-white-background: rgb(254, 255, 244);
$card-green-titles: #397d39;
$card-green-stripes: hsla(128, 33%, 35%, 0.3);;
$card-info-yellow-background: hsla(50, 100%, 79%, 0.4);
$card-info-yellow-title: #e1be11;

$primary-font: 'Open Sans';